{% extends 'layout.html' %}
{% block content %}
<h1>Edit Part</h1>
<form method="POST">
    <input name="name" value="{{ item[1] }}" required>
    <input name="material" value="{{ item[2] }}" required>
    <input name="quantity" type="number" value="{{ item[3] }}" required>
    <input name="sales_price" type="number" step="0.01" value="{{ item[4] }}" required>
    <input name="purchase_price" type="number" step="0.01" value="{{ item[5] }}" required>
    <button type="submit">Update Part</button>
</form>
{% endblock %}